.navbar {
    background-color: #333;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
.navbar a {
    float:left;
    display: block;
    color: white;
    text-align: right;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #2fa50b;
    color: black;
}
#home {
    
}
#home button{
    background: #e41414;
}

/* Container styles */
.container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Form styles */
form {
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Contact2.php */
.contact-form-tittle h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
}

.contact-form-tittle img {
    width: 30px;
    height: auto;
}

.contact-form {
    margin-top: 0px;
}

.contact-form form {
    width: 80%;
    margin: 0 auto;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button[type="submit"]:hover {
    background-color: #0056b3;
}

.display-input {
    margin-top: 20px;
    text-align: center;
}

.display-input p {
    font-size: 18px;
    color: #666;
}

#footer_text {
    margin-top: 50px;
    text-align: center;
}

#footer_text p {
    font-size: 14px;
    color: #666;
}

